<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia</title>
</head>
<body>
    El nombre del padre es: {{ hogar.pdr_nombre }}
    <br>
    La edad del padre es: {{ hogar.pdr_edad }}
    <br>
    El padre nacio el: {{ hogar.pdr_nacimiento }}
    <br>

    El nombre de la madre es: {{ hogar.mdr_nombre }}
    <br>
    La edad de la madre es: {{ hogar.mdr_edad }}
    <br>
    La madre nacio el: {{ hogar.mdr_nacimiento }}
    <br>

    El nombre del hijo es: {{ hogar.hjs_nombre }}
    <br>
    La edad del hijo es: {{ hogar.hjs_edad }}
    <br>
    El hijo nacio el: {{ hogar.hjs_nacimiento }}
    <br>

  </body>
</html>